<?php

// URL to Piwik installation.
$rcmail_config['piwik_tracking_api_url'] = null;

// Piwik website ID. This value can either be a single ID or an array
// containing multiple server names and IDs in cases where Roundcube serves
// multiple hosts through a single installation.
//
// To set multiple hosts, use a key => value pair of the host name and Piwik
// website ID. For example:
//
//   $rcmail_config['piwik_tracking_api_site_id'] = array(
//       'webmail.foo.com' => 42,
//       'webmail.bar.com' => 13
//   );
$rcmail_config['piwik_tracking_api_site_id'] = null;

// Optional, tracking request authentication token required to track user IP
// address.
$rcmail_config['piwik_tracking_api_token_auth'] = null;

// Optional, custom variable slot ID to record the email of the logged in
// user. If used, this should be a number from 1 to 5.
$rcmail_config['piwik_tracking_api_user_email_custom_var'] = null;

